name: Android CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Find and Fix Permissions
        # This finds the gradlew file even if it is inside a subfolder
        run: find . -name "gradlew" -exec chmod +x {} +

      - name: Build Debug APK
        # This tells GitHub to run the build from wherever the gradlew file is located
        run: |
          GRADLEW_PATH=$(find . -name "gradlew" | head -n 1)
          cd $(dirname $GRADLEW_PATH)
          ./gradlew assembleDebug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: StudyGenie-APK
          path: "**/build/outputs/apk/debug/*.apk"
